{% extends 'base.html' %}
{% block title %}
    <title>Cart</title>
{% endblock %}
{% block content %}
    <div class="container d-flex mt-5 border border-dark">
        <div class="col">
            {% for item in order.items.all %}
                <div class="row">
                    <p>{{ item.item.name }}</p>
                </div>
                <div class="row">
                    <p>{{ item.quantity }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="col">
            <div class="row">
                <p>Name: {{ order_contact.first_name }} {{ order_contact.last_name }}</p>
            </div>
            <div class="row">
                <p>Address: {{ order_contact.address }}</p>
            </div>
            <div class="row">
                <p>City: {{ order_contact.city }}</p>
            </div>
            <div class="row">
                <p>Postal Code: {{ order_contact.postal_code }}</p>
            </div>
            <div class="row">
                <p>Country: {{ order_contact.country }}</p>
            </div>
        </div>
        <div class="col">
            <div class="row">
                <p>Card number: {{ order_payment.card_number }}</p>
            </div>
            <div class="row">
                <p>Cardholder name: {{ order_payment.cardholder_name }}</p>
            </div>
            <div class="row">
                <p>CVC: {{ order_payment.cvv }}</p>
            </div>
        </div>
    </div>
    <a href="{% url 'confirm-order' %}" class="btn btn-warning">Confirm</a>
{% endblock %}


