{% extends 'base.html' %}
{% block content %}
    <div>
        <h2>Login</h2>
        <div>
            <form action="" target="_parent">
                <fieldset>
                      <label for="uname">Username:</label>
                      <input type="text" id="uname" name="uname"><br><br>
                      <label for="pword">Password:</label>
                      <input type="password" id="pword" name="pword"><br><br>
                      <input type="submit" value="Login">
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}