{% extends "base.html" %}
{% block content %}
    {{ contact_info.first_name }} {{ contact_info.last_name }}
    {% for order_item in order.items.all %}
        <div class="row d-flex mt-5">
            <div class="col-3 product-img-box d-flex align-items-center border border-dark rounded-left">
                <img src="{{ order_item.item.productimage_set.first }}" class="product-img">
            </div>
            <div class="col">
                <div class="row profile2-row">
                    <div class="col-12">
                        {{ order_item.quantity }} x of {{ order_item.item.name }}
                        $ {{ order_item.get_item_total_price|floatformat:2 }}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}