{% extends 'base.html' %}
{% block title %}
<title>Profile</title>
{% endblock %}
{% block content %}
    <br><h2> {{ user.first_name }} {{ user.last_name }}'s profile</h2> <br>
    <div class="container profile-container">
        <div class="row profile-row">
            <div class="col-3 profile-column">
                <div class="row text-center">
                    <div class="col"><img src="{{ user.profile.profile_image }}" class="big_profile image-responsive rounded-circle"
                    onerror="this.onerror=null;this.src='/static/images/svg/person.svg';"></div>

                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-primary mt-2" href="{% url 'accounts-logout' %}">Logout</a>
                </div>

            </div>
            <div class="col-9 profile-column">
                <div class="row profile2-row">
                    <div class="col profile-column">PERSONAL INFORMATION</div>
                </div>
                <div class="row profile3-row" id="profile-personal-info">
                    <div class="col profile-column">
                        First name: <bold>{{ user.first_name }}</bold> <br>
                        Last name: {{ user.last_name }} <br>
                        Email: {{ user.email }} <br>
                        Phone number: {{ user.profile.phone_number }} <br>
                        <a class="btn btn-primary mt-2 " id="profile-btn" href="{% url 'accounts-edit' %}">Edit profile</a>
                    </div>
                </div>
                <div class="row profile2-row mt-5">
                    <div class="col profile-column">SEARCH HISTORY</div>
                </div>
                {% if searches.count > 0 %}
                    <div class="row profile3-row">
                    <div class="col profile-column">
                        <table class="table table-striped profile-table">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Search</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for search in searches %}
                                    {% if forloop.counter <= 5 %}
                                        <tr>
                                            <td><a href="{% url 'product-index' %}?product-search={{ search.search }}">
                                                {{ search.search }}</a></td>
                                            <td>{{ search.date }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-between" id="see-all">
                    {% if searches.count > 5 %}
                        <div class="col-2"><a href="{% url 'accounts-searchhistory' %}">See all</a></div>
                        <div class="col-2 text-right"><a href="{% url 'accounts-clearhistory' %}">clear search</a></div>
                    {% else %}
                        <div class="col-2"></div>
                        <div class="col-2 text-right"><a href="{% url 'accounts-clearhistory' %}">clear search</a></div>
                    {% endif %}
                </div>
                {% else %}
                    <br>
                    <p>Your search history is empty</p>
                {% endif %}
                <div class="row profile2-row mt-5">
                    <div class="col profile-column">ORDER HISTORY</div>
                </div>
                <div class="row profile3-row">
                    <div class="col">
                    {% if orders.count > 0 %}
                        <table class="table table-striped profile-table">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Order ID</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for order in orders reversed %}
                                    {% if forloop.counter <= 5 %}
                                        <tr>
                                            <td><a href="/accounts/profile/order/{{ order.id }}">
                                                {{ order.id }}</a></td>
                                            <td>{{ order.order_date }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    {% else %}
                        Order history is empty
                    {% endif %}
                    </div>
                </div>
                <div class="row justify-content-between" id="see-all">
                    {% if orders.count > 5 %}
                        <div class="col-2"><a href=" {% url 'accounts-orderhistory' %} ">See all</a></div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}