{% extends 'base.html' %}
{% block content %}
    {% load myfilters %}
    <form class="form form-horizontal shadow-border my-5 p-5" method="post">
        <h2>Sign up</h2>

        {% csrf_token %}
        <div class="form-group form-row">
            <div class="col">
                Username: {{ form.username }}
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                Password: {{ form.password1|addclass:'form-control' }}
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                Password confirmation: {{ form.password2|addclass:'form-control'  }}
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                First name: {{ form.first_name }}
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                Last name: {{ form.last_name }}
            </div>
        </div>
        <div class="form-group form-row">
            <div class="col">
                Email: {{ form.email }}
            </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Sign up" />
        <a href="{% url 'accounts-login' %}" class="btn btn-primary">Login instead</a>
    </form>
{% endblock %}