{% extends 'base.html' %}
{% block content %}
    <br><h2> {{ user.first_name }} {{ user.last_name }}'s profile</h2> <br>
    <div class="container profile-container">
        <div class="row profile-row">
            <div class="col-3 profile-column">
                <div class="row text-center">
                    <div class="col"><img src="{{ user.profile.profile_image }}" class="big_profile image-responsive rounded-circle"
                    onerror="this.onerror=null;this.src='/static/images/svg/person.svg';"></div>

                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-primary mt-2" href="{% url 'accounts-profile' %}">Back</a>
                </div>
                <div class="row justify-content-center">
                    <a class="btn btn-primary mt-2" id="profile-back" href="{% url 'accounts-logout' %}">Logout</a>
                </div>

            </div>
            <div class="col profile-column">
                <div class="row profile2-row">
                    <div class="col profile-column">SEARCH HISTORY</div>
                </div>
                <div class="row profile3-row">
                    <div class="col profile-column">
                        <table class="table table-striped profile-table">
                            <thead class="thead">
                                <tr>
                                    <th scope="col">Search</th>
                                    <th scope="col">Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for search in searches %}
                                    {% if forloop.counter <= 20 %}
                                        <tr>
                                            <td><a href="{% url 'product-index' %}?product-search={{ search.search }}">
                                            {{ search.search }}</a></td>
                                            <td>{{ search.date }}</td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row justify-content-between" id="see-all">
                    <div class="col-2"></div>
                    <div class="col-2 align-self-end"><a href="{% url 'accounts-clearhistory' %}">clear search</a></div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}