{% extends 'base.html' %}
{% block title %}
  <title>Store</title>
{% endblock %}
{% block content %}
  <div>
    <h2>Crazy gaming products!!</h2>
  </div>
  <form method="GET" action=".">
    <div class="input-group">
      <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search"
             name="product-search"/>
      <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
    </div>
    <div class="form-group col-md-4">
      <label for="category">Category</label>
      <select id="category" class="form-control" name="category">
        <option selected>Choose...</option>
        {% for cat in category %}
        <option value="{{ cat }}">{{ cat }}</option>
        {% endfor %}
      </select>
        <div class="form-group col-md-4">
      <label for="manufacturer">Manufacturer</label>
      <select id="manufacturer" class="form-control" name="manufacturer">
        <option selected>Choose...</option>
        {% for man in queryset %}
        <option value="{{ man.manufacturer }}">{{ man.manufacturer }}</option>
        {% endfor %}
      </select>
    </div>

    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div class="products">
    {% if queryset %}
      {% for product in queryset %}
        {% include 'products/single_product.html' with product=product %}
      {% endfor %}
    {% else %}
      {% for product in products %}
        {% include 'products/single_product.html' with product=product %}
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}