{% extends 'base.html' %}
{% block title %}
  <title>Store</title>
{% endblock %}
{% block content %}
  <div>
    <h2>Welcome to the product app!</h2>
  </div>
  <form method="GET" action=".">
    <div class="input-group">
      <input class="form-control py-2 border-right-0 border" type="search" placeholder="Title exact..."
             name="product-search"/>
      <span class="input-group-append">
                    <div class="input-group-text bg-transparent">
                        <i class="fa fa-search"></i>
                    </div>
                </span>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
  </form>

  <div class="products">
    {% if queryset %}
      {% for product in queryset %}
        {% include 'products/single_product.html' with product=product %}
      {% endfor %}
    {% else %}
      {% for product in products %}
        {% include 'products/single_product.html' with product=product %}
      {% endfor %}
    {% endif %}
  </div>

{% endblock %}