#icon-cart {
    height: 40px;
    width: 40px;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/static/images/cpt_console.png");
  min-height: 100%;
}

.test-1 {
    height: 1000px;
    width: 1000px;
}

.footer p {
    margin: 0px;
    padding: 0px;
}

a {
    color: #F6E8EA !important;
}

a:hover {
    background-image: linear-gradient(white, white);
    background-repeat: no-repeat;
    background-position: bottom;
    animation: line-under .5s 1 both;
}

@keyframes line-under {
    0% {
        background-size: 0px 3px;
    }
    100% {
        background-size: 100% 3px;
    }
    
}

@keyframes circle-around {
    0% {
        background-size: 0 3px, 3px 0, 0 3px, 3px, 0;
    }
    25% {
        background-size: 100% 3px, 3px 0, 0 3px, 3px 0;
    }
    50% {
        background-size: 100% 3px, 3px 100%, 0 3px, 3px 0;
    }
    75% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 0;
    }
    100% {
        background-size: 100% 3px, 3px 100%, 100% 3px, 3px 100%;
    }
}

.products {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.product a {
    color: black !important;
    text-decoration: none;
}

.products .product {
    border-radius: 0;
    margin: 0;
    background-image: none;
    background-color: gray;
    text-align: center;
}

.products .product:hover {
    background-image: linear-gradient(#c500E2, #9a27f7), linear-gradient(#6564FF, #2a96fa), linear-gradient(#2ff89f, #68ff6b), linear-gradient(#f82d97, #e82f65);
    background-repeat: no-repeat;
    background-position: left top, right top, right bottom, left bottom;
    background-size: 0 3px, 3px 0, 0 3px, 3px 0;
    animation: circle-around .5s ease-in both;
    cursor: pointer;
}

.products .product:hover .product-img {
    transform: perspective(400px) scale(1.1) rotateY(15deg);
}

.product-img{
    width: 200px;
    transition: transform 1s ease-in;
}
.big_profile {
    width: 200px;
    height: 300px;
}