#icon-cart {
    height: 40px;
    width: 40px;
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("/static/images/cpt_console.png");
  min-height: 100%;
}

.test-1 {
    height: 1000px;
    width: 1000px;
}