{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}
        <title>Captain Console</title>
    {% endblock %}
    <link rel="stylesheet" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
{% include 'navigation.html' %}

<main role="main" class="flex-shrink-0">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
</main>
<footer class="footer mt-auto py-3 bg-color fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col nav-item"><a href="http://maps.google.com/?q=101 Laugavegur, Reykjavik, 2" target="_blank">Laugavegur
                2</a></div>
            <div class="col nav-item"><a href="http://maps.google.com/?q=200 Nybylavegur, Kopavogur, 12"
                                         target="_blank">Nýbýlavegur 12</a></div>
            <div class="col nav-item">10:00 - 18:00</div>
            <div class="col nav-item"><a href="mailto:hakon19@ru.is">info@cptco.com</a></div>
            <div class="col nav-item">58-12345</div>
        </div>
    </div>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>